@tailwind base;
@tailwind components;
@tailwind utilities;

.animebg{
  background-image: url('/animebg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tvshowbg{
  background-image: url('/tvshowbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.moviesbg{
  background-image: url('/moviesbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}